<div class="register-animal">
  <form action="/animals" method="post">
    <label for="name">Name:</label>
    <input
    type="text"
    name="name"
    id="name-field"
    value=""
    />

    <label for="type">Type:</label>
    <input
    type="text"
    name="type"
    id="type-field"
    value=""
    />

    <label for="admission_date">Registration Date:</label>
    <input
    type="text"
    name="admission_date"
    id="admission_date"
    value=""
    />

    <label for="adoptable">Ready to be adopted:</label>
    <select name="adoptable" id="adoptable">
      <option value="t">True</option>
      <option value="f">False</option>
    </select>

    <label for="adopted">Adopted:</label>
    <select name="adopted" id="adopted">
      <option value="t">True</option>
      <option value="f">False</option>
    </select>

    <input type="submit" value="Register">
  </form>

</div>
