<h2>Adoption Successes!</h2>
<p>
  <a href="/adoptions/new">New adoption</a>
</p>
<hr>
<div>
<% for adoption in @adoptions %>
  <p>Animal: <%= adoption.animal.name() %></p>
  <p>Owner: <%= adoption.owner.name() %></p>

  <div class="buttons">
    <form action="/adoptions/<%= adoption.id %>" method="get">
      <input type="submit" value="View adoption">
    </form>
    <form method="post" action="/adoptions/<%= adoption.id %>/delete">
      <input type="submit" value="Delete adoption">
    </form>
  </div>

  <hr />
<%end  %>
</div>
