<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homeward Bound Animal Shelter</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/"> Home</a>
        </li>
        <li>
          <a href="/animals"> All Animals</a>
        </li>
        <li>
          <a href="/owners"> All Owners</a>
        </li>
        <li>
          <a href="/adoptions"> All Adoptions</a>
        </li>
        <li>
          <a href="/animals/new"> Register an Animal</a>
        </li>
        <li>
          <a href="/owners/new"> Register an Owner</a>
        </li>
      </ul>
    </nav>

    <%= yield  %>
  </body>
</html>
