body.home {
  background: white url('/images/animal_family.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

body {
  background-color: #87B7B3;
}


h1 {
  line-height: 150px;
  font-size: 2.6em;
  color: #F68657;
}

h2 {
  color: #273D4C;
  font-size: 1.8em;
}

ul {
  list-style:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

li a {
  color: white;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li {
  font-size: 1.2em;
  display: inline;
}

 .adopt {
  font-weight: bold;
}

.navbar {
  font-weight: normal;
}

.shelter-animals {
  width: 300px;
  height: auto;
}

.button-link {
  text-decoration: none;
}

.btn a:visited {
  color: black;
}

.buttons {
  display: inline-flex;
}

img {
  width: 300px;
  height:auto;
}

div.position {
  text-align: center;
}
