<h2>All the owners!</h2>
<hr>
<div>
<% for owner in @owners %>
  <p>Name: <%= owner.name() %></p>

  <form method="get" action="/owners/<%= owner.id %>/edit">
    <input type="submit" value="Edit owner">
  </form>
  <form method="post" action="/owners/<%=owner.id %>/delete">
    <input type="submit" value="Delete owner">
  </form>
  <hr />
<%end  %>
</div>
