<h2>All the owners!</h2>
<hr>
<div class="container">
<% for owner in @owners %>
  <p class="name">Name: <%= owner.name() %></p>


  <form method="post" action="/owners/<%= owner.id %>/delete">
    <input type="submit" value="Delete owner">
  </form>
  <hr />
<%end  %>
</div>
