<h2>All the owners!</h2>
<hr>
<div>
<% for owner in @owners %>
  <p>Name: <%= owner.name() %></p>


  <form method="post" action="/owners">
    <input type="submit" value="Delete owner">
  </form>
  <hr />
<%end  %>
</div>
